{% extends "wishlist/base.html" %}
{% block page_title %}Home{% endblock %}

{% block content %}
<p>
    Hello! I made this website for people to create and share
    wishlists in an efficient manner. The idea is simple: add
    links to items from any website (or multiple!) and share
    it with your friends and family!
</p>
<h2>Features</h2>
<p>
    This website has a few features that set it apart.
</p>
<ul>

    <li>
        No ads, no tracking, no affiliate links!
    </li>
    <li>
        Users can <strong>follow wishlists</strong>, which
        sends them a single email (max one per day) if
        changes were made.
    </li>
    <li>
        With <strong>notes</strong>, you can convey any extra
        information about each product!
    </li>
</ul>
{% endblock %}
